/*!
 * Materialize v1.0.0 (http://materializecss.com)
 * Copyright 2014-2017 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */

 .materialize-red {
    background-color: #e51c23 !important
}

.materialize-red-text {
    color: #e51c23 !important
}

.materialize-red.lighten-5 {
    background-color: #fdeaeb !important
}

.materialize-red-text.text-lighten-5 {
    color: #fdeaeb !important
}

.materialize-red.lighten-4 {
    background-color: #f8c1c3 !important
}

.materialize-red-text.text-lighten-4 {
    color: #f8c1c3 !important
}

.materialize-red.lighten-3 {
    background-color: #f3989b !important
}

.materialize-red-text.text-lighten-3 {
    color: #f3989b !important
}

.materialize-red.lighten-2 {
    background-color: #ee6e73 !important
}

.materialize-red-text.text-lighten-2 {
    color: #ee6e73 !important
}

.materialize-red.lighten-1 {
    background-color: #ea454b !important
}

.materialize-red-text.text-lighten-1 {
    color: #ea454b !important
}

.materialize-red.darken-1 {
    background-color: #d0181e !important
}

.materialize-red-text.text-darken-1 {
    color: #d0181e !important
}
